services:
  portfolio:
    build:
      context: ./
      dockerfile: ./src/dockerfiles/Dockerfile.prod
    container_name: portfolio
    restart: always
    expose:
      - "80"
    networks:
      - web

networks:
  web:
    external: true
